name: Check for Updates (dependencies affected by Dependabot Core issue 2064)

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set Up Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      
      - name: Run Cargo Update
        run: cargo update
      
      # release.yml won't run on a PR made from a workflow.
      # Build here to prove it hasn't broken something.
      # No need to use the release optimisations.
      - name: Run Cargo Build
        run: cargo build

      - name: Create PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: Run cargo update
          branch: cargo-update-rollup
          title: Cargo update rollup
          body: Result of running cargo update.
          assignees: simonhollingshead