name: Check for Updates (dependencies affected by Dependabot Core issue 2064)

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set Up Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      
      - name: Run Cargo Update
        run: cargo update
      
      # release.yml won't run on a PR made from a workflow.
      # Build here to prove it hasn't broken something.
      # No need to use the release optimisations.
      - name: Run Cargo Build
        run: cargo build

      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: Run cargo update
          branch: cargo-update-rollup
          title: Cargo update rollup
          body: Result of running cargo update.
          assignees: simonhollingshead