name: Release Binary

on:
  workflow_dispatch:
  pull_request:
  push:
    paths-ignore:
      - '.github/**'
    branches:
      - main
    tags:
      - "*"
  schedule:
    - cron: '57 1 * * 6'

permissions:
  id-token: write
  attestations: write
  contents: write

env:
  CARGO_INCREMENTAL: 0

jobs:
  release:
    name: Release - ${{ matrix.platform.readable-target-name }}
    strategy:
      matrix:
        platform:
          - readable-target-name: Linux x86_64
            runs-on: ubuntu-latest
            archive-name: gilt-linux-x86_64
            rustup-target: x86_64-unknown-linux-gnu
            build-tool: zigbuild
            build-tool-target: x86_64-unknown-linux-gnu.2.17
            build-dst-dir: x86_64-unknown-linux-gnu

          - readable-target-name: Linux ARM
            runs-on: ubuntu-latest
            archive-name: gilt-linux-aarch64
            rustup-target: aarch64-unknown-linux-gnu
            build-tool: zigbuild
            build-tool-target: aarch64-unknown-linux-gnu.2.17
            build-dst-dir: aarch64-unknown-linux-gnu

          - readable-target-name: Windows x86_64
            runs-on: windows-latest
            archive-name: gilt-windows-x86_64
            rustup-target: x86_64-pc-windows-msvc
            build-tool: cargo
            build-tool-target: x86_64-pc-windows-msvc
            build-dst-dir: x86_64-pc-windows-msvc

          - readable-target-name: Windows ARM
            runs-on: windows-latest
            archive-name: gilt-windows-aarch64
            rustup-target: aarch64-pc-windows-msvc
            build-tool: cargo
            build-tool-target: aarch64-pc-windows-msvc
            build-dst-dir: aarch64-pc-windows-msvc

          - readable-target-name: macOS Universal Binary
            runs-on: macOS-latest
            archive-name: gilt-macos-ub
            rustup-target: x86_64-apple-darwin aarch64-apple-darwin
            build-tool: cargo-then-lipo
            build-tool-target: na
            build-dst-dir: universal2-apple-darwin


    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal
    
      - name: Install Cross-Compilation Target
        run: rustup target add ${{ matrix.platform.rustup-target }}

      - if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        name: Enable Rust Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: ${{ matrix.platform.build-tool-target }}
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install cargo-sbom
        uses: taiki-e/install-action@650c5ca14212efbbf3e580844b04bdccf68dac31 # v2.67.18
        with:
          tool: cargo-sbom

      - if: ${{ matrix.platform.build-tool == 'zigbuild' }}
        name: Install cargo-zigbuild
        uses: taiki-e/install-action@650c5ca14212efbbf3e580844b04bdccf68dac31 # v2.67.18
        with:
          tool: cargo-zigbuild

      - if: ${{ startsWith(matrix.platform.runs-on, 'ubuntu-') && matrix.platform.build-tool == 'zigbuild' }}
        name: Install Zig (Linux)
        run: sudo snap install zig --beta --classic

      - if: ${{ startsWith(matrix.platform.runs-on, 'macOS-') }}
        name: Set macOS SDK Environment Variable
        run: |
          sudo xcode-select -s /Library/Developer/CommandLineTools
          echo "SDKROOT=$(xcrun --sdk macosx --show-sdk-path)" >> "${GITHUB_ENV}"

      - if: ${{ matrix.platform.build-tool == 'zigbuild' }}
        name: Build (Zig)
        run: cargo zigbuild --locked --release --target ${{ matrix.platform.build-tool-target }}

      - if: ${{ matrix.platform.build-tool == 'cargo' }}
        name: Build (Cargo)
        run: cargo build --locked --release --target ${{ matrix.platform.build-tool-target }}
      
      - if: ${{ matrix.platform.build-tool == 'cargo-then-lipo' }}
        name: Build and Merge (Cargo+Lipo)
        run: |
          cargo build --locked --release --target aarch64-apple-darwin
          cargo build --locked --release --target x86_64-apple-darwin
          mkdir -p target/${{ matrix.platform.build-dst-dir }}/release
          lipo -create -output target/${{ matrix.platform.build-dst-dir }}/release/gilt target/x86_64-apple-darwin/release/gilt target/aarch64-apple-darwin/release/gilt
          file target/${{ matrix.platform.build-dst-dir }}/release/gilt

      - name: Produce SBOM
        run: cargo sbom --output-format=spdx_json_2_3 > sbom-spdx.json

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@48ce35fb40c3dab00791a3d6c485022341354c44 # v0.0.6
        with:
          executable-name: gilt
          target: ${{ matrix.platform.build-dst-dir }}
          changes-file:
          extra-files: |
            README.md
            sbom-spdx.json
          archive-name: ${{ matrix.platform.archive-name }}
      
      - if: ${{ ! startsWith(matrix.platform.runs-on, 'windows-') && (startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch') }}
        name: Publish SBOM Attestation (non-Windows)
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-path: ./${{ matrix.platform.archive-name }}.tar.gz, ./target/${{ matrix.platform.build-dst-dir }}/release/gilt, ./sbom-spdx.json
          sbom-path: ./sbom-spdx.json

      - if: ${{ ! startsWith(matrix.platform.runs-on, 'windows-') && (startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch') }}
        name: Publish Artifact Attestation (non-Windows)
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-path: ./${{ matrix.platform.archive-name }}.tar.gz, ./target/${{ matrix.platform.build-dst-dir }}/release/gilt, ./sbom-spdx.json

      - if: ${{ startsWith(matrix.platform.runs-on, 'windows-') && (startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch') }}
        name: Publish SBOM Attestation (Windows)
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-path: .\${{ matrix.platform.archive-name }}.zip, .\target\${{ matrix.platform.build-dst-dir }}\release\gilt.exe, .\sbom-spdx.json
          sbom-path: .\sbom-spdx.json

      - if: ${{ startsWith(matrix.platform.runs-on, 'windows-') && (startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch') }}
        name: Publish Artifact Attestation (Windows)
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-path: .\${{ matrix.platform.archive-name }}.zip, .\target\${{ matrix.platform.build-dst-dir }}\release\gilt.exe, .\sbom-spdx.json
